# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.venv/

# Environment variables
*.env

# Django stuff
*.log
db.sqlite3
media/

# Byte-compiled / cache
*.pyc
*.pyo
*.pyd
__pycache__/

# VSCode / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
